.container{
  width:95%;
  margin: auto 10px;
  background: white;
}
input{
  outline: none;
  padding:8px;
  width: 60%;
  border-radius: 30px;
  padding-left: 15px;
  border: 1px solid gainsboro;
}

input:focus{
  border: 1px solid dodgerblue;
}

::placeholder{
  color:gainsboro;
}
